* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5px 0.5px;
  border-bottom: 2px solid #ddd;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.nav-left nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.logo {
  height: 40px;
}

.nav-right {
  display: flex;
  gap: 10px;
}

.auth-btn {
  padding: 6px 12px;
  border: 1px solid #00796b;
  background-color: #00796b;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #004d40;
}

.main-section {
  display: flex;
  padding: 3em 2em;
  gap: 3em;
  align-items: flex-start;
}

.image-side {
  flex: 1;
}

.main-image {
  width: 100%;     /* или 80%, если хочешь заметнее уменьшить */
  max-width: 800px;
  border-radius: 12px;
}


.text-side {
  flex: 1;
  max-width: 600px;
}

.text-side h1 {
  font-size: 2.4em;
  margin-bottom: 1.5em;
}

.info-block {
  display: flex;
  gap: 1em;
  margin-bottom: 1.5em;
  align-items: flex-start;
}

.icon {
  font-size: 1.8em;
  color: #e57373;
  margin-top: 4px;
}

.info-block strong {
  display: block;
  margin-bottom: 0.3em;
}

.text-box {
  background-color: #f4f8f8; /* цвет, похожий на фон фото */
  border: 2px solid #d0dce0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
}


